@import mixins

body > :not(header)
	display none

header
	color #222
	h1
		font-family 'League Gothic CFSG', serif
		font-size 80px
		font-weight 100
		margin 50px 0 -15px 0
		text-align center
		text-transform uppercase
		span
			text-transform lowercase
	ol
		display block
		font-style normal
		font-weight normal
		font-size 0
		margin 0
		padding 0
		text-align center
		text-transform uppercase
		li
			display inline-block
			font-family 'Gentium Book Basic', serif
			font-size 16px
			margin 0
		li:before,
		li:last-of-type:after
			content "\00B7 "
			display inline-block
			font-size 35px
			font-weight bold
			line-height 10px
			overflow hidden
			vertical-align middle
			margin 0 4px
