@import mixins

body > :not(header)
header > p
	display none

header h1
	color rgb(0, 0, 0)
	font-family 'League Gothic CFSG', serif
	font-size 80px
	font-weight 100
	margin-top 50px
	text-align center
	text-transform uppercase
	margin 50px auto

	span
		text-transform lowercase
