body > :not(header),
header > p {
	display: none;
}

header {
}
header h1 {
	color: rgb(0, 0, 0);
	font-family: LeagueGothicRegular, serif;
	font-size: 80px;
	margin-top: 50px;
	text-align: center;
	text-transform: uppercase;
}
header h1.logo {
	background: url(../img/logo.png) no-repeat;
	height: 61px;
	letter-spacing : -1000em;
	margin: 50px auto ;
	overflow : hidden;
	text-indent : -999em;
	width: 347px;
}
header p {
}
header h1 {
}

article {
}
article aside {
}
article aside p {
}
article h2 {
}
article p {
}
article button {
}
article button a {
}

footer p {
}
footer p a {
}
