@import 'fonts'

@import 'mixins/slides'
@import 'mixins/malarkey'
@import 'mixins/nib'

@import 'mixins/normalize'
global-normalize()

@import 'variables'

html,
body
	font-family 'Gentium Book Basic', serif
	font-weight 100
	font-size: 110%
	height 100%

	h1
		font-family 'League Gothic CFSG', sans-serif
		font-weight 100
	
	h2
		font-family LeagueGothicRegular, sans-serif
		font-weight 100
	
	.clear
		clear both

header
	position relative
	width 100%
	
	> div
		margin 0 auto
		width 90vw
	
	h1.logo
		border 3px solid #000
		float left
		font-size 3em
		margin 0
		padding 3px 20px 0
		text-transform uppercase
		span
			text-transform lowercase
	
	nav
		float right		
		a
			font-family LeagueGothicRegular, sans-serif
			font-size 1.5em
			line-height 2.7em
			margin 0 0.5em
			text-decoration none
			text-transform uppercase
			&.selected
				border-bottom-style solid
				border-bottom-width 2px
	
section
	background-attachment fixed
	background-position center center
	border-top-style solid
	border-top-width 3px
	box-sizing border-box
	height 100%
	padding 0.5em 0
	overflow hidden

	article
		margin 0 auto 5vh
		min-height 60vh
		position relative
		width 85vw
		
		h2
			font-size 4em
			font-weight normal
			margin 0
				
		.content
			float right
			position relative
			width 42vw
		
		figure
			float left
			height 40vw
			min-height 300px
			min-width 300px
			position relative
			width 40vw
		
			.circle
				height 50%
				border rgba(255,255,255,0.2) solid 10px
				border-radius 50%
				-moz-border-radius 50%
				-webkit-border-radius 50%
				position absolute
				text-align center
				vertical-align middle
				width 50%

	&.intro
		background-size auto, cover
		border none
		color-palette($black, $black, $black, $white, $white)
		slide('../img/bg_ingenuity.jpg', no-repeat)
		h2
			font-family 'Gentium Book Basic', serif
			font-size 2.5em			
			line-height 1.3em
			margin-top 25vh
			em
				font-style italic
				font-weight bold
			mark
				background-color rgba(116, 74, 0, 0.4)
				color white
				font-style inherit
				font-weight inherit
				padding 0 20px
	&.about
		color-palette($orange, $black, $orange, lighten($black,50%), $orange)
		slide('../img/bg_white.jpg')
		h2
			text-align center
		p
			text-align center
	&.discover
		color-palette($purple, $white, $purple, $white, $purple)
		slide('../img/bg_blue.jpg')
		.circle
			&.a
				background-image url(../img/bg_green.jpg)
				left 0
			&.b
				background-image url(../img/bg_orange.jpg)
				right 0
			&.c
				background-image url(../img/bg_purple.jpg)
				bottom 0
				left 10vw
	&.design
		color-palette($green, $white, $green, $white, $green)
		slide('../img/bg_purple.jpg')
		.circle
			&.a
				background-image url(../img/bg_blue.jpg)
				left 10.5vw
			&.b
				background-image url(../img/bg_yellow.jpg)
				right 0
				top 15.75vw
			&.c
				background-image url(../img/bg_green.jpg)
				left 0
				top 15.75vw
	&.develop
		color-palette($yellow, $white, $yellow, $white, $yellow)
		slide('../img/bg_red.jpg')
		.circle
			&.a
				background-image url(../img/bg_purple.jpg)
				left 0
			&.b
				background-image url(../img/bg_orange.jpg)
				right 0
			&.c
				background-image url(../img/bg_yellow.jpg)
				left 10.5vw
				top 15.75vw
	&.support
		color-palette(lighten($black,50%),$white, $red, $white, $red)
		slide('../img/bg_mvp.jpg', no-repeat)
		h2
			text-align center
			text-shadow: 1px 1px 3px  lighten($black,20%);
			filter: dropshadow(color= lighten($black,20%), offx=1, offy=1);

	&.team
		color-palette($purple, $black, $purple, lighten($black,50%),$purple)
		slide('../img/bg_white.jpg')
		h2
			text-align center
		p
			text-align center
	&.contact
		color-palette($orange, $white, $white, lighten($orange,75%), $orange)
		slide('../img/bg_team.jpg', no-repeat)
		article
			margin-left 46vw
			h2
				text-shadow: 1px 1px 3px  lighten($black,20%);
				filter: dropshadow(color= lighten($black,20%), offx=1, offy=1);
		img
			box-shadow: 2px 2px 10px lighten($black,25%);
			filter: dropshadow(color= lighten($black,25%), offx=1, offy=1);
			margin-bottom 30px;

				
footer
	border-top 2px solid #fff
	color #fff
	clear both
	margin -3em auto 0
	opacity 0.7
	width 90vw
	
	div
		&.copyright
			border-left 1px solid #fff
			float right
			height 2.5em
			line-height 2.5em
			margin 0
			padding 0 20px