@import 'fonts'

@import 'mixins/malarkey'
@import 'mixins/nib'

@import 'mixins/normalize'
global-normalize()

@import 'variables'

html,
body
	height 100%

header
	color #222
	overflow hidden
	h1
		font-family 'League Gothic CFSG', serif
		font-size 80px
		font-weight 100
		margin 0 0 -15px 0
		padding: 25px 0 0 0
		text-align center
		text-transform uppercase
		span
			text-transform lowercase
	ol
		display block
		font-style normal
		font-size 0
		font-weight normal
		margin 0
		padding 0
		text-align center
		text-transform uppercase
		li
			display inline-block
			font-family 'Gentium Book Basic', serif
			font-size 16px
			margin 0
		li:before,
		li:last-of-type:after
			content "\00B7 "
			display inline-block
			font-size 35px
			font-weight bold
			line-height 10px
			overflow hidden
			vertical-align middle
			margin 0 4px
	> p
		font-family 'Gentium Book Basic', serif
		font-size 48px
		font-style normal
		font-weight normal
		line-height 1.28
		margin 0 auto
		padding 85px 0 0 0
		width 960px
		em
			font-style italic
			font-weight bold
		mark
			background-color rgba(116, 74, 0, 0.4)
			color white
			font-style inherit
			font-weight inherit
			padding 0 20px

nav
	max-width 1440px
	a
		display inline-block
		font-family 'League Gothic CFSG', sans-serif
		margin 50px
			
	
section
	background-attachment fixed
	background-position center center
	border-top-style solid
	border-top-width 3px
	height 100%

	> p
		font-family 'Gentium Book Basic', serif
		font-size 48px
		font-style normal
		font-weight normal
		line-height 1.28
		padding 0 20px
		text-align center
		background-color rgba(116, 74, 0, 0.4)

	section-highlights(color)
		border-top-color color
		color color

	&.intro
		background-image url(../img/bg_ingenuity.jpg)
		background-repeat no-repeat
		border none
	&.about
		background-image url(../img/bg_white.jpg)
		section-highlights($orange)
	&.discover
		background-image url(../img/bg_blue.jpg)
		section-highlights($purple)
	&.design
		background-image url(../img/bg_purple.jpg)
		section-highlights($green)
	&.develop
		background-image url(../img/bg_red.jpg)
		section-highlights($yellow)
	&.support
		background-image url(../img/bg_mvp.jpg)
		background-repeat no-repeat
		section-highlights($red)
	&.team
		background-image url(../img/bg_white.jpg)
		section-highlights($purple)
	&.contact
		background-image url(../img/bg_team.jpg)
		background-repeat no-repeat
		section-highlights($orange)

footer
	position fixed
	bottom 0